apiVersion: apps/v1
kind: Deployment

metadata:
  name: nginx-deployment
  
spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
      
  template:
    metadata:
      labels:
        app: nginx
        
    spec:
      containers:
      - name: nginx
        image: nginx
        command:
          - /bin/sh
          - -c
          - |
            echo "Pod name: $(hostname)" > /usr/share/nginx/html/index.html
            nginx -g 'daemon off;'
        ports:
        - containerPort: 80
        
        resources:
          requests:
            cpu: "50m"
            memory: "64Mi"
          limits:
            cpu: "100m"
            memory: "128Mi"
